<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="portfolYOU" />
    <title>portfolYOU</title>
    <meta name="description" content="I turn coffee :coffee: into code, use tabs over spaces and never break production." />
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ "style.css" | relURL }}">
  </head>
  <body class="h-100 d-flex flex-column">
    <div class="container"></div>
    <!-- Main content -->
    <main class="flex-shrink-0 container mt-5">{{ partial "navbar.html" . }} {{ block "main" . }}{{ end }}</main>
    <footer class="mt-auto py-3 text-center">
      <!-- Footer content here -->
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="{{ "script.js" | relURL }}"></script>
  </body>
</html>
