<nav class="navbar navbar-expand-lg navbar-themed">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}"
      ><h5><b>SamDc</b></h5></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-1x fa-bars text-themed"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="{{ .Site.BaseURL }}projects/">Projects</a>
        <a class="nav-item nav-link" href="{{ .Site.BaseURL }}blog/">Blog</a>
        <a class="nav-item nav-link" href="{{ .Site.BaseURL }}">About</a>
      </div>
    </div>
  </div>
</nav>
