{{ define "main" }}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <body class="h-100 d-flex flex-column">
    <main class="flex-shrink-0 container mt-5">
      <!--Profile-->
      <div class="row my-5">
        <div class="col-lg-10 mx-auto mt-4 markdown-body">
          <div class="profile">
            <div class="profile-bg">
              <div class="profile-image"></div>
              <div class="profile-info">
                <h1 class="first-name row">Husam</h1>
                <h1 class="second-name row">Alshehadat</h1>
                <div class="row">
                  <h2>Yellow ....</h2>
                  <p>
                    Code whisperer in Python, SQL sage, and data analyst dyna here! Crafting solutions that actually work (no, seriously, they do).
                    Let's collaborate and create something impactful.
                  </p>
                  <p>Feel Free to reach out follow me on social media and stuff</p>
                </div>
                <div class="social-media-icons">
                  <div class="row">
                    <a class="col-auto zoom" target="_blank" rel="noopener noreferrer" href="https://www.github.com/samdc73" title="GitHub">
                      <i class="fa-brands fa-github"></i>
                    </a>
                    <a class="col-auto zoom" target="_blank" rel="noopener noreferrer" href="https://www.gitlab.com/samdc73" title="Gitlab">
                      <i class="fa-brands fa-gitlab"></i>
                    </a>
                    <a class="col-auto zoom" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/samdc73" title="LinkedIn">
                      <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a class="col-auto zoom" target="_blank" rel="noopener noreferrer" href="https://twitter.com/samdc73" title="Twitter">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a class="col-auto zoom" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/samdc73" title="Instagram">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Experience-->
          <div class="row my-5">
            <div class="col mt-4 mx-auto">
              <div class="timeline-body bg-themed">
                <div class="timeline-item">
                  <div class="content">
                    <h2>Student, Harvard CS</h2>
                    <h6 class="date">2014 — 2018</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                      enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="content">
                    <h2>Software Engineer, Google, UK</h2>
                    <h6 class="date">2018 — present</h6>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                      enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Skills-->
          <div class="row my-5">
            <div class="col mt-4 mx-auto">
              <div class="skills-wrapper">
                <div class="skills">
                  <div class="row g-4">
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-brands fa-html5"></i>
                        <p>html</p>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-brands fa-css3"></i>
                        <p>css</p>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-brands fa-python"></i>
                        <p>Python</p>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-brands fa-flutter"></i>
                        <p>Flutter</p>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-brands fa-pytorch"></i>
                        <p>pytorch</p>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-brands fa-css3"></i>
                        <p>css</p>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-brands fa-css3"></i>
                        <p>css</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->

  </body>
</html>
{{ end }}