{{ define "main" }}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <body class="h-100 d-flex flex-column">
    <main class="flex-shrink-0 container mt-5">
      <!--Profile-->
      <div class="row my-5">
        <div class="col-lg-10 mx-auto mt-4 markdown-body">
          <div class="profile">
            <div class="profile-bg">
              <div class="profile-image"></div>
              <div class="profile-info">
                <h1 class="first-name row">Husam</h1>
                <h1 class="second-name row">Alshehadat</h1>
                <div class="row">
                  <h2>Yellow ....</h2>
                  <p>
                    Code whisperer in Python, SQL sage, and data analyst dyna here! Crafting solutions that actually work (no, seriously, they do).
                    Let's collaborate and create something impactful.
                  </p>
                  <p>Feel Free to reach out follow me on social media and stuff</p>
                </div>
                <div class="social-media-icons">
                  <div class="row">
                    {{ range .Site.Params.social.links }}
                    <a class="col-auto zoom" target="_blank" rel="noopener noreferrer" href="{{ .url }}" title="{{ .name }}">
                      <i class="{{ .icon }}"></i>
                    </a>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Experience-->
          <div class="row my-5">
            <div class="col mt-4 mx-auto">
              <div class="timeline-body bg-themed">
                <div class="timeline-item">
                  <div class="timeline-marker"></div>
                  <div class="content">
                    <h3 class="experience-title">Quality Analyst</h3>
                    <h4 class="experience-company">Natera</h4>
                    <h6 class="date">2022 — current</h6>
                    <p class="experience-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                      enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-marker"></div>
                  <div class="content">
                    <h3 class="experience-title">IT Support</h3>
                    <h4 class="experience-company">Al-Aqeelah Takaful Insurance</h4>
                    <h6 class="date">2014 — 2018</h6>
                    <p class="experience-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                      enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Skills-->
          <div class="row my-5">
            <div class="col mt-4 mx-auto">
              <div class="skills-wrapper bg-themed">
                <div class="skills">
                  <div class="row g-4">
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-brands fa-python"></i>
                        <p>Python</p>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-solid fa-database"></i>
                        <p>SQL</p>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-solid fa-chart-line"></i>
                        <p>Data Analysis</p>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                      <div class="skills-card">
                        <i class="fa-solid fa-brain"></i>
                        <p>Machine Learning</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
  </body>
</html>
{{ end }}
